
header {
  font-family: 'Monoton', cursive;
  font-size: xx-large;
}

button {
  outline: none;
  background-color: aquamarine;
}

.game-area {
  background-color: aquamarine;
}

.images {
  height: 10rem;
  width: 11rem;
}

.scissors {
  background-image: url("./scissors.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6rem;
  height: 10rem;
  width: 11rem;
}

.rock {
  background-image: url("./rock.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6rem;
  height: 10rem;
  width: 11rem;
}

.paper {
  background-image: url("./paper.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6rem;
  
  height: 10rem;
  width: 11rem;
}

/* .computer {
  background-image: url("./computer.png");
  background-size: contain;
  background-repeat: no-repeat;

  height: 10rem;
  width: 11rem;
} */